/** EWW.SCSS
Created by saimoom **/
*{
  all: unset;
  font-family: "JetBrainsMono NF", feather;
  // font-family: DaddyTimeMono NF;
}

// Variable Color's
$background: #1A1B26;
$foreground: #A9B1D6;

$black: #24283B;
$gray: #565F89;
$red: #F7768E;
$green: #73DACA;
$yellow: #E0AF68;
$blue: #7AA2F7;
$magenta: #BB9AF7;
$cyan: #7DCFFF;
$white: $foreground;
/** General **/
.bar_class {
  background-color: #0f0f17;
  border-radius: 16px;
}
.module {
  margin: 0px 0px 0px 0px;
  border-radius: 10px 16px 0px 10px;
}

/** tooltip!! **/
tooltip.background {
  background-color: #0f0f17;
  font-size: 18;
  border-radius: 10px;
  color: #bfc9db;
}

tooltip label {
  margin: 6px;
}


/** Widgets **/

.clock_time_sep {
  font-size: 27;
  color: #bfc9db;
  margin: 0px 4px 1px 4px;
}
.clock_time_class, .clock_minute_class {
  font-size: 23;
}
.clock_date_class {
  font-size: 18;
  margin: 0px 20px 0px -1px;
  color: #d7beda;
}
.clock_minute_class {
  margin: 0px 20px 0px 3px;
  color: #bfc9db;
}

.clock_time_class {
  color: #bfc9db;
  font-weight: bold;
  margin: 0px 5px 0px 0px;
}

.diskbar {
  color: #AD5C6C;
  background-color: #38384d;
  border-radius: 10px;
}
.cpubar {
  color: #297379;
  background-color: #38384d;
  border-radius: 10px;
}

.membar {
  color: #e0b089;
  background-color: #38384d;
  border-radius: 10px;
}


.bat{
  // font-family: JetBrainsMono Nerd Font;
  font-family: Iosevka Nerd Font;
  font-size: 1.2em;
  padding-right: .5rem;
  color: $blue;
}
.brightbar trough highlight {
  background-image: linear-gradient(to right, #e4c9af 30%, #f2cdcd 50%, #e0b089 100% *50);
  border-radius: 10px;
}
.volbar trough highlight {
  background-image: linear-gradient(to right, #afcee0 30%, #a1bdce 50%, #77a5bf 100% *50);
  border-radius: 10px;
}
.volume_icon {
  font-size: 22;
  color: #a1bdce;
  margin: 0px 10px 0px 10px;
}

.module_essid {
  font-size: 18;
  color: #a1bdce;
  margin: 0px 10px 0px 0px;
}
.module_vpn {
  font-size: 18;
  color: #77DD77;
  margin: 0px 10px 0px 0px;
}
.module-wif {
  font-size: 22;
  color: #a1bdce;
  border-radius: 100%;
  margin: 0px 10px 0px 5px;
}
.iconcpu {
  color: #297379;
}


.icondisk {
  color: #AD5C6C;
}

.iconmem {
  color: #e0b089;
}
.iconbat {
  color: #afbea2;
}
.iconbat, .iconmem, .iconcpu, .icondisk {
  font-size: 15;
  margin: 10px;
}
.bright_icon {
  font-size: 22;
  color: #e4c9af;
  margin: 0px 10px 0px 10px;
}


.separ {
  color: #3e424f;
  font-weight: bold;
  font-size: 22px;
  margin: 0px 8px 0px 8px;
}

.mem_module, .cpu_module, .disk_module{
  background-color: #0f0f17;
  border-radius: 16px;
  margin: 0px 10px 0px 3px;
}
scale trough {
  all: unset;
  background-color: #22242b;
  box-shadow: 0 2px 3px 2px #06060b;
  border-radius: 16px;
  min-height: 10px;
  min-width: 70px;
  margin: 0px 10px 0px 0px;
}

.works {
  font-size: 27px;
  // font-size: 45px;
  font-weight: normal;
  font-family: Iosevka Nerd Font;
  margin: 5px 0px 0px 20px;
  background-color: #0f0f17;
}

.0 , .01, .02, .03, .04, .05, .06, .07, .08, .09, .00,
.011, .022, .033, .044, .055, .066, .077, .088, .099, .000  { 
  margin: 5px 10px 0px 0px;
}

/* Unoccupied */
.0 {
  color:#131d2c;
}

/* Occupied */
.01, .02, .03, .04, .05, .06, .07, .08, .09, .00 {
  color: #5c6c82;
}

/* Focused */
.011, .022, .033, .044, .055, .066, .077, .088, .099, .000 {
  color: #e4e6ea
}

.033.thunderbird {
  color: #1E5EBB;
}

.066.twitter {
  color: #1C9CEA;
}

.firefox.077 {
  color: #DF5D00;
}


.twitch.088 {
  color: #613F9F;
}

.discord.099 {
  color:#5661EF;
}


.telegram.000 {
  color: #0084C6;
}

.song_cover_art {
  background-size: cover;	
  background-position: center;
  min-height: 24px;
  min-width: 24px;
  margin: 10px;
  border-radius: 100px;
}

.song {
  color: #a1bdce;
  font-size : 18px;
  font-weight : bold;
  margin : 3px 5px 0px 0px;
}

.song_btn_play {
  color: #a1bdce;
  font-size : 28px;
  margin : 3px 0px 0px 5px;

}


.song_btn_prev, .song_btn_next {
  color: #bfc9db;
  font-size : 24px;
  margin : 3px 0px 0px 5px;

}
// Calendar
.cal {
  background-color: #0f0f17;
  font-family: "JetBrainsMono Nerd Font";
  font-size: 18px;
  font-weight: normal;

  .cal-in {
    padding: 0px 10px 0px 10px;
    color: #bfc9db;

    .cal {
      &.highlight {
        padding: 20px;
      }

      padding: 5px 5px 5px 5px;
      margin-left: 10px;
    }
  }
}



calendar:selected {
  color: $blue;
  font-size: 24px;
  background: $background;
}

calendar.header {
  color: $blue;
  font-weight: bold;
}

calendar.button {
  color: $magenta;
}

calendar.highlight {
  color: $magenta;
  font-weight: bold;
}

calendar:indeterminate {
  color: $background;
}







.sys_sep {
  color: #38384d;
  font-size: 18;
  margin: 0px 10px 0px 10px;
}
.sys_text_bat_sub, .sys_text_mem_sub {
  font-size: 16;
  color: #bbc5d7;
  margin: 5px 0px 0px 25px;
}
.sys_text_bat, .sys_text_mem {
  font-size: 21;
  font-weight: bold;
  margin: 14px 0px 0px 25px;
}
.sys_icon_bat, .sys_icon_mem {
  font-size: 30;
  margin: 30px;
}
.sys_win {
  background-color: #0f0f17;
}
.sys_bat {
  color: #afbea2;
  background-color: #38384d;
  border-radius: 10px;
}
.sys_mem {
  color: #e4c9af;
  background-color: #38384d;
  border-radius: 10px;
}
.sys_icon_bat, .sys_text_bat {
  color: #afbea2;
}
.sys_icon_mem, .sys_text_mem {
  color: #e4c9af;
}
.sys_bat_box {
  border-radius: 16px;
  margin: 15px 10px 10px 20px;
}
.sys_mem_box {
  border-radius: 16px;
  margin: 10px 10px 15px 20px;
}

.music_pop {
  background-color: #0f0f17;
  border-radius: 16px;
}
.music_cover_art {
  background-size: cover;
  background-position: center;
  min-height: 100px;
  box-shadow: 5px 5px 5px 5px #06060b;
  min-width: 170px;
  margin: 20px;
  border-radius: 20px;
}

.music {
  color: #a1bdce;
  font-size : 20px;
  font-weight : bold;
  margin : 20px 0px 0px -15px;
}

.music_artist {
  color: #bbc5d7;
  font-size : 16px;
  font-weight : normal;
  margin : 0px 0px 0px 0px;
}

.music_btn_prev, .music_btn_play, .music_btn_next {
  font-family: Iosevka Nerd Font;
}
.music_btn_prev {
  color: #bbc5d7;
  font-size : 32px;
  font-weight : normal;
  margin: 0px 0px 0px 0px;
}
.music_btn_play {
  color: #a1bdce;
  font-size : 48px;
  font-weight : normal;
  margin: 0px 0px 0px 0px;
}
.music_btn_next {
  color: #bbc5d7;
  font-size : 32px;
  font-weight : normal;
  margin: 0px 0px 0px 0px;
}

.music_bar scale trough highlight {
  all: unset;
  background-image: linear-gradient(to right, #afcee0 30%, #a1bdce 50%, #77a5bf 100% *50);
  border-radius: 24px;
}
.music_bar scale trough {
  all: unset;
  background-color: #232232;
  box-shadow: 0 6px 5px 2px #06060b;
  border-radius: 24px;
  min-height: 13px;
  min-width: 190px;
  margin : -10px 10px 20px 0px;
}

.audio-box {
  background-color: #0f0f17;
  border-radius: 16px;
}
.speaker_icon {
  background-size: cover;
  background-image: url('images/speaker.png');
  background-position: center;
  min-height: 70px;
  min-width: 75px;
  margin: 10px 20px 5px 20px;
  border-radius: 12px;
}

.speaker_text {
  color: #a1bdce;
  font-size : 26px;
  font-weight : bold;
  margin: 20px 0px 0px 0px;
}

.speaker_bar scale trough highlight {
  all: unset;
  background-image: linear-gradient(to right, #afcee0 30%, #a1bdce 50%, #77a5bf 100% *50);
  border-radius: 24px;
}
.speaker_bar scale trough {
  all: unset;
  background-color: #232232;
  box-shadow: 0 6px 5px 2px #06060b;
  border-radius: 24px;
  min-height: 13px;
  min-width: 120px;
  margin : 0px 0px 5px 0px;
}

.mic_icon {
  background-size: cover;
  background-image: url('images/mic.png');
  background-position: center;
  min-height: 70px;
  min-width: 75px;
  margin: 5px 20px 20px 20px;
  border-radius: 12px;
}

.mic_text {
  color: #a1bdce;
  font-size : 26px;
  font-weight : bold;
  margin: 0px 0px 0px 0px;
}

.mic_bar scale trough highlight {
  all: unset;
  background-image: linear-gradient(to right, #afcee0 30%, #a1bdce 50%, #77a5bf 100% *50);
  border-radius: 24px;
}
.mic_bar scale trough {
  all: unset;
  box-shadow: 0 6px 5px 2px #06060b;
  background-color: #232232;
  border-radius: 24px;
  min-height: 13px;
  min-width: 120px;
  margin : 0px 0px 20px 0px;
}

.audio_sep {
  color: #38384d;
  font-size: 18;
  margin : 0px 0px 0px 0px;
}


// Powermenu
.powermenu {
  font-family: feather;
  font-size: 1.3em;
  font-weight: bold;
}
.button-qtres, .button-reb, .button-lock,
.button-quit, .button-off{
  padding: .5rem .2rem .5rem .2rem;
  // transition: all .2s ease-in-out;
}
.button-off{
  color: $red;
  margin-right: 15px;
}
.button-qtres:hover, .button-reb:hover, .button-lock:hover,
.button-quit:hover, .button-off:hover{
  font-size: 1.2em;
  box-shadow: inset 0 0 0 10em $background;
}
.button-bspres{
  color: $green;
}
.button-reb{
  color: $yellow
}
.button-quit{
  color: $magenta;
}
.button-lock{
  color: $blue;
}

*{
	all : unset;
	font-family : feather;
	font-family : JetBrainsMono NF;
}

/** Vars *********************************************/

$bg-color : #1a1b26; 

/** Background ***************************************/
.bg {
	background-image : url("images/bg.png");
	background-color : #474D59;
	background-size : 117%;
	background-position : center;
	background-repeat : no-repeat;
	opacity : 1;
}

/** Generic window ***********************************/
.genwin, .genwina, .genwinb, .genwinc, .genwind, .genwine, .genwinf, .genwing, .genwinh {
	background-color : $bg-color; //#252933; #2E3440;
}

.genwin {
	border-radius : 16px;
}

.genwina {
	border-radius : 16px 16px 0 0;
}

.genwinb {
	border-radius : 16px 16px 16px 16px;
}

.genwinh {
	border-radius : 16px 0 0 16px;
}

.genwinc {
	border-radius : 16px 16px 16px 16px;
}

.genwind {
	border-radius : 46px 16px 16px 16px;
}

.genwine {
	border-radius : 16px 46px 16px 16px;
}

.genwinf {
	border-radius : 16px 16px 16px 46px;
}

.genwing {
	border-radius : 16px 16px 46px 16px;
}

/** rxyhn's calendar *********************************/
.cal-holder {
	padding : 1rem 1rem .2rem;
	font-size : 1em;
	font-weight : bold;
}

.cal_title_right, .cal_title_left {
	font-size : 32px;
	color : #EBCB8B;
}

.cal_title {
	margin : 16px 72px 4px 72px; 
	font-size : 16px;
	color : #A3BE8C; 
}

.cal {
	padding : .8rem .25rem 0rem;
	margin-left : 10px;
	
	&.highlight {
		padding : 10rem;
	}
}

calendar:selected {
	color : #88C0D0;
}

calendar.header {
	color : #88C0D0;
	font-weight : bold;
}

calendar.button {
	color : #D46389;
}

calendar.highlight {
	color : #D46389;
	font-weight : bold;
}

calendar:indeterminate {
	color : $bg-color;
}


/** System ********************************************/
.iconcpu, .iconmem, .iconbright, .iconbat {
	font-size : 22px;
	font-weight : normal;
}
.iconcpu {
	color : #BF616A;
}
.iconmem {
	color : #A3BE8C;
}
.iconbright {
	color : #EBCB8B;
}
.iconbat {
	color : #88C0D0;
}

.cpu_bar, .mem_bar, .bright_bar, .bat_bar, scale trough {
	all : unset;
	background-color : #3A404C;
	border-radius : 16px;
	min-height : 12px;
	min-width : 170px;
}

.cpu_bar, .mem_bar, .bright_bar, .bat_bar, scale trough highlight {
	all : unset;
	border-radius : 16px;
}

.cpu_bar scale trough highlight {
	background-color : #BF616A;
}
.mem_bar scale trough highlight {
	background-color : #A3BE8C;
}
.bright_bar scale trough highlight {
	background-color : #EBCB8B;
}
.bat_bar scale trough highlight {
	background-color : #88C0D0;
}

/** Clock ********************************************/
.time_hour, .time_min {
	color : #81A1C1;
	font-size : 45px;
	font-weight : bold;
}
.time_hour {
	margin : 10px 0px 0px 10px;
}
.time_min {
	margin : 0px 0px 10px 0px;
}

.time_mer {
	color : #A3BE8C;
	font-size : 30px;
	font-weight : bold;
	margin : 10px 0px 0px 0px;
}

.time_day {
	color : #EBCB8B;
	font-size : 17px;
	font-weight : normal;
	margin : 0px 0px -30px 10px;
}

/** Uptime ********************************************/
.icontimer {
	color : #B48EAD;
	font-size : 50px;
	font-weight : normal;
}

/** Music ***************************************/
.album_art {
	background-size : cover;	
	background-position : center;
	min-height : 184px;
	min-width : 184px;
	margin : 20px;
	border-radius : 14px;
}

.song {
	color : #8FBCBB;
	font-size : 18px;
	font-weight : bold;
	margin : 15px 0px 0px 0px;
}

.artist {
	color : #EBCB8B;
	font-size : 14px;
	font-weight : normal;
	margin : 0px 0px 0px 0px;
}

.btn_prev, .btn_play, .btn_next {
	font-family : Iosevka Nerd Font;
}
.btn_prev {
	color : #EBCB8B;
	font-size : 32px;
	font-weight : normal;
}
.btn_play {
	color : #A3BE8C;
	font-size : 40px;
	font-weight : bold;
}
.btn_next {
	color : #EBCB8B;
	font-size : 32px;
	font-weight : normal;
}

.music_bar scale trough highlight {
	all : unset;
	background-color : #B48EAD;
	border-radius : 8px;
}
.music_bar scale trough {
	all : unset;
	background-color : #3A404C;
	border-radius : 8px;
	min-height : 10px;
	min-width : 180px;
	margin : 0px 10px 0px 0px;
}

/** Weather ***************************************/
.iconweather {
	font-family : Iosevka Nerd Font;
	font-size : 58px;
	font-weight : normal;
	margin : 10px 0px 0px 30px;
}

.label_temp {
	color : #A6D1DD;
	font-size : 54px;
	font-weight : bold;
	margin : 15px 25px 0px 0px;
}

.label_stat {
	color : #BF616A;
	font-size : 30px;
	font-weight : bold;
	margin : 10px 0px 0px 0px;
}

.label_quote {
	color : #E5E5E5;
	font-size : 18px;
	font-weight : normal;
}

/** Applications ***************************************/
.appbox {
	margin : 10px 0px 0px 12px;
}

.app_vivaldi, .app_telegram, .app_discord, .app_terminal, .app_obsidian,
.app_files, .app_neovim, .app_code, .app_krita, .app_vbox {
    background-repeat : no-repeat;
	background-size : 42px;
	min-height : 42px;
	min-width : 42px;
	margin : 0 3px 0 3px;
}

.app_vivaldi {}
.app_telegram {}
.app_discord {}
.app_terminal {}
.app_files {}
.app_obsidian {
}
.app_neovim { 
	background-size : 36px;
	background-position : center;
}
.app_code {}
.app_krita {}
.app_vbox {}

/** Links ***************************************/
.iconweb, .iconmail {
	color : #FFFFFF;
	font-family : Iosevka Nerd Font;
	font-size : 60px;
	font-weight : normal;
}
.iconmail {
	color : #DF584E;
}

.github {
	background-color : #24292E;
	border-radius : 16px;
}
.reddit {
	background-color : #E46231;
	border-radius : 16px;
}
.twitter {
	background-color : #61AAD6;
	border-radius : 16px;
}
.youtube {
	background-color : #DF584E;
	border-radius : 16px;
}
.mail {
	background-color : #FFFFFF;
	border-radius : 16px;
}

.mailbox {
	background-color : #E5E5E5;
	border-radius : 10px;
	margin : 24px 0px 24px 0px;
}
.label_mails {
	color : #404040;
	font-size : 24px;
	font-weight : bold;
	margin : 0px 6px 0px 6px;
}

/** Power buttons ***************************************/
.btn_logout, .btn_sleep, .btn_reboot, .btn_poweroff {
	font-size : 48px;
	font-weight : bold;
}

.btn_logout {
	color : #BF616A;
}
.btn_sleep {
	color : #A3BE8C;
}
.btn_reboot {
	color : #EBCB8B;
}
.btn_poweroff {
	color : #88C0D0;
}

/** Home folders ***************************************/
.hddbox {
	background-color : #3A404C;
	border-radius : 10px;
	margin : 15px;
}
.hddicon {
	color : #81A1C1;
	font-family : Iosevka Nerd Font;
	font-size : 70px;
	font-weight : normal;
	margin : 5px 10px 5px 15px;
}
.hdd_label {
	color : #E5E9F0;
	font-size : 32px;
	font-weight : bold;
	margin : 0px 0px 0px 10px;
}
.fs_sep {
	color : #2E3440;
	font-size : 34px;
	font-weight : bold;
}

.iconfolder1, .iconfolder2, .iconfolder3, .iconfolder4, .iconfolder5, .iconfolder6  {
	font-family : Iosevka Nerd Font;
	font-size : 24px;
	font-weight : normal;
	margin : 0px 0px 0px 25px;
}
.iconfolder1 {
	color : #BF616A;
}
.iconfolder2 {
	color : #A3BE8C;
}
.iconfolder3 {
	color : #EBCB8B;
}
.iconfolder4 {
	color : #81A1C1;
}
.iconfolder5 {
	color : #B48EAD;
}
.iconfolder6 {
	color : #88C0D0;
}

.label_folder1, .label_folder2, .label_folder3, .label_folder4, .label_folder5, .label_folder6  {
	font-size : 22px;
	font-weight : normal;
	margin : 0px 0px 0px 30px;
}
.label_folder1 {
	color : #BF616A;
}
.label_folder2 {
	color : #A3BE8C;
}
.label_folder3 {
	color : #EBCB8B;
}
.label_folder4 {
	color : #81A1C1;
}
.label_folder5 {
	color : #B48EAD;
}
.label_folder6 {
	color : #88C0D0;
}


/*--|> NeoClock <|--*/

.uptitle {
	color : #EBCB8B;
	font-size : 22px;
}

.updays {
	color : #81A1C1;
	font-size : 28px;
	font-weight : bold;
}

.uptime {
	color : #61AFEF;
	//color : #E5E9F0;
	font-size : 24px;
	font-weight : bold;
}

.nclock {
	margin : 0px 0px 0px 26px;
}

.ntime_hour, .ntime_min {
	color : #81A1C1;
	font-size : 45px;
	font-weight : bold;
}
.ntime_hour {
	margin : 0px;
}
.ntime_min {
	margin : 0px 0px 0px 2px;
}

.ntime_date {
	margin : 6px 0px -6px 0px;
	color : #61AFEF;
	font-size : 17px;
	font-weight : bold;
}

.ntime_mers *:nth-child(1) {
	margin : 8px 0px 0px 0px;
}

.ntime_mer {
	color : #A3BE8C;
	font-size : 16px;
	font-weight : bold;
}

.ntime_day {
	margin : -8px 0px 0px 0px;
	color : #EBCB8B;
	font-size : 18px;
	font-weight : normal;
}

/*--> Workspaces <--*/
.ws1, .ws2, .ws3, .ws4, .ws5, .ws6, .ws7, .ws8, .ws9, .ws10 {
	font-size : 24px;
}
.ws1 {
	color : #52E080;
}

.ws2 {
	color : #D70040;
}

.ws3 {
	color : #117dca;
}

.ws4 {
	color : #32a7d9;
}

.ws5 {
	color : #23cf5f;
}

.ws6 {
	color : #80461b;
}

.ws7 {
	color : #f4c430;
}

.ws8 {
	color : #DA70D6;
}

.ws9 {
	color : #800020;
}

.ws10 {
	color : #F5F5F5;
}

.ws_holder {
	margin : 24px 0 0 0;
}

/** EOF *************************************************/

