/** Global *******************************************/
*{
	all : unset;
	font-family : feather;
	font-family : JetBrainsMono NF;
}

/** Vars *********************************************/

$bg-color : #1a1b26; 

/** Background ***************************************/
.bg {
	background-image : url("images/bg.png");
	background-color : #474D59;
	background-size : 117%;
	background-position : center;
	background-repeat : no-repeat;
	opacity : 1;
}

/** Generic window ***********************************/
.genwin, .genwina, .genwinb, .genwinc, .genwind, .genwine, .genwinf, .genwing, .genwinh {
	background-color : $bg-color; //#252933; #2E3440;
}

.genwin {
	border-radius : 16px;
}

.genwina {
	border-radius : 16px 16px 0 0;
}

.genwinb {
	border-radius : 16px 16px 16px 16px;
}

.genwinh {
	border-radius : 16px 0 0 16px;
}

.genwinc {
	border-radius : 16px 16px 16px 16px;
}

.genwind {
	border-radius : 46px 16px 16px 16px;
}

.genwine {
	border-radius : 16px 46px 16px 16px;
}

.genwinf {
	border-radius : 16px 16px 16px 46px;
}

.genwing {
	border-radius : 16px 16px 46px 16px;
}

/** rxyhn's calendar *********************************/
.cal-holder {
	padding : 1rem 1rem .2rem;
	font-size : 1em;
	font-weight : bold;
}

.cal_title_right, .cal_title_left {
	font-size : 32px;
	color : #EBCB8B;
}

.cal_title {
	margin : 16px 72px 4px 72px; 
	font-size : 16px;
	color : #A3BE8C; 
}

.cal {
	padding : .8rem .25rem 0rem;
	margin-left : 10px;
	
	&.highlight {
		padding : 10rem;
	}
}

calendar:selected {
	color : #88C0D0;
}

calendar.header {
	color : #88C0D0;
	font-weight : bold;
}

calendar.button {
	color : #D46389;
}

calendar.highlight {
	color : #D46389;
	font-weight : bold;
}

calendar:indeterminate {
	color : $bg-color;
}


/** System ********************************************/
.iconcpu, .iconmem, .iconbright, .iconbat {
	font-size : 22px;
	font-weight : normal;
}
.iconcpu {
	color : #BF616A;
}
.iconmem {
	color : #A3BE8C;
}
.iconbright {
	color : #EBCB8B;
}
.iconbat {
	color : #88C0D0;
}

.cpu_bar, .mem_bar, .bright_bar, .bat_bar, scale trough {
	all : unset;
	background-color : #3A404C;
	border-radius : 16px;
	min-height : 12px;
	min-width : 170px;
}

.cpu_bar, .mem_bar, .bright_bar, .bat_bar, scale trough highlight {
	all : unset;
	border-radius : 16px;
}

.cpu_bar scale trough highlight {
	background-color : #BF616A;
}
.mem_bar scale trough highlight {
	background-color : #A3BE8C;
}
.bright_bar scale trough highlight {
	background-color : #EBCB8B;
}
.bat_bar scale trough highlight {
	background-color : #88C0D0;
}

/** Clock ********************************************/
.time_hour, .time_min {
	color : #81A1C1;
	font-size : 45px;
	font-weight : bold;
}
.time_hour {
	margin : 10px 0px 0px 10px;
}
.time_min {
	margin : 0px 0px 10px 0px;
}

.time_mer {
	color : #A3BE8C;
	font-size : 30px;
	font-weight : bold;
	margin : 10px 0px 0px 0px;
}

.time_day {
	color : #EBCB8B;
	font-size : 17px;
	font-weight : normal;
	margin : 0px 0px -30px 10px;
}

/** Uptime ********************************************/
.icontimer {
	color : #B48EAD;
	font-size : 50px;
	font-weight : normal;
}

/** Music ***************************************/
.album_art {
	background-size : cover;	
	background-position : center;
	min-height : 184px;
	min-width : 184px;
	margin : 20px;
	border-radius : 14px;
}

.song {
	color : #8FBCBB;
	font-size : 18px;
	font-weight : bold;
	margin : 15px 0px 0px 0px;
}

.artist {
	color : #EBCB8B;
	font-size : 14px;
	font-weight : normal;
	margin : 0px 0px 0px 0px;
}

.btn_prev, .btn_play, .btn_next {
	font-family : Iosevka Nerd Font;
}
.btn_prev {
	color : #EBCB8B;
	font-size : 32px;
	font-weight : normal;
}
.btn_play {
	color : #A3BE8C;
	font-size : 40px;
	font-weight : bold;
}
.btn_next {
	color : #EBCB8B;
	font-size : 32px;
	font-weight : normal;
}

.music_bar scale trough highlight {
	all : unset;
	background-color : #B48EAD;
	border-radius : 8px;
}
.music_bar scale trough {
	all : unset;
	background-color : #3A404C;
	border-radius : 8px;
	min-height : 10px;
	min-width : 180px;
	margin : 0px 10px 0px 0px;
}

/** Weather ***************************************/
.iconweather {
	font-family : Iosevka Nerd Font;
	font-size : 58px;
	font-weight : normal;
	margin : 10px 0px 0px 30px;
}

.label_temp {
	color : #A6D1DD;
	font-size : 54px;
	font-weight : bold;
	margin : 15px 25px 0px 0px;
}

.label_stat {
	color : #BF616A;
	font-size : 30px;
	font-weight : bold;
	margin : 10px 0px 0px 0px;
}

.label_quote {
	color : #E5E5E5;
	font-size : 18px;
	font-weight : normal;
}

/** Applications ***************************************/
.appbox {
	margin : 10px 0px 0px 12px;
}

.app_vivaldi, .app_telegram, .app_discord, .app_terminal, .app_obsidian,
.app_files, .app_neovim, .app_code, .app_krita, .app_vbox {
    background-repeat : no-repeat;
	background-size : 42px;
	min-height : 42px;
	min-width : 42px;
	margin : 0 3px 0 3px;
}

.app_vivaldi {}
.app_telegram {}
.app_discord {}
.app_terminal {}
.app_files {}
.app_obsidian {
}
.app_neovim { 
	background-size : 36px;
	background-position : center;
}
.app_code {}
.app_krita {}
.app_vbox {}

/** Links ***************************************/
.iconweb, .iconmail {
	color : #FFFFFF;
	font-family : Iosevka Nerd Font;
	font-size : 60px;
	font-weight : normal;
}
.iconmail {
	color : #DF584E;
}

.github {
	background-color : #24292E;
	border-radius : 16px;
}
.reddit {
	background-color : #E46231;
	border-radius : 16px;
}
.twitter {
	background-color : #61AAD6;
	border-radius : 16px;
}
.youtube {
	background-color : #DF584E;
	border-radius : 16px;
}
.mail {
	background-color : #FFFFFF;
	border-radius : 16px;
}

.mailbox {
	background-color : #E5E5E5;
	border-radius : 10px;
	margin : 24px 0px 24px 0px;
}
.label_mails {
	color : #404040;
	font-size : 24px;
	font-weight : bold;
	margin : 0px 6px 0px 6px;
}

/** Power buttons ***************************************/
.btn_logout, .btn_sleep, .btn_reboot, .btn_poweroff {
	font-size : 48px;
	font-weight : bold;
}

.btn_logout {
	color : #BF616A;
}
.btn_sleep {
	color : #A3BE8C;
}
.btn_reboot {
	color : #EBCB8B;
}
.btn_poweroff {
	color : #88C0D0;
}

/** Home folders ***************************************/
.hddbox {
	background-color : #3A404C;
	border-radius : 10px;
	margin : 15px;
}
.hddicon {
	color : #81A1C1;
	font-family : Iosevka Nerd Font;
	font-size : 70px;
	font-weight : normal;
	margin : 5px 10px 5px 15px;
}
.hdd_label {
	color : #E5E9F0;
	font-size : 32px;
	font-weight : bold;
	margin : 0px 0px 0px 10px;
}
.fs_sep {
	color : #2E3440;
	font-size : 34px;
	font-weight : bold;
}

.iconfolder1, .iconfolder2, .iconfolder3, .iconfolder4, .iconfolder5, .iconfolder6  {
	font-family : Iosevka Nerd Font;
	font-size : 24px;
	font-weight : normal;
	margin : 0px 0px 0px 25px;
}
.iconfolder1 {
	color : #BF616A;
}
.iconfolder2 {
	color : #A3BE8C;
}
.iconfolder3 {
	color : #EBCB8B;
}
.iconfolder4 {
	color : #81A1C1;
}
.iconfolder5 {
	color : #B48EAD;
}
.iconfolder6 {
	color : #88C0D0;
}

.label_folder1, .label_folder2, .label_folder3, .label_folder4, .label_folder5, .label_folder6  {
	font-size : 22px;
	font-weight : normal;
	margin : 0px 0px 0px 30px;
}
.label_folder1 {
	color : #BF616A;
}
.label_folder2 {
	color : #A3BE8C;
}
.label_folder3 {
	color : #EBCB8B;
}
.label_folder4 {
	color : #81A1C1;
}
.label_folder5 {
	color : #B48EAD;
}
.label_folder6 {
	color : #88C0D0;
}


/*--|> NeoClock <|--*/

.uptitle {
	color : #EBCB8B;
	font-size : 22px;
}

.updays {
	color : #81A1C1;
	font-size : 28px;
	font-weight : bold;
}

.uptime {
	color : #61AFEF;
	//color : #E5E9F0;
	font-size : 24px;
	font-weight : bold;
}

.nclock {
	margin : 0px 0px 0px 26px;
}

.ntime_hour, .ntime_min {
	color : #81A1C1;
	font-size : 45px;
	font-weight : bold;
}
.ntime_hour {
	margin : 0px;
}
.ntime_min {
	margin : 0px 0px 0px 2px;
}

.ntime_date {
	margin : 6px 0px -6px 0px;
	color : #61AFEF;
	font-size : 17px;
	font-weight : bold;
}

.ntime_mers *:nth-child(1) {
	margin : 8px 0px 0px 0px;
}

.ntime_mer {
	color : #A3BE8C;
	font-size : 16px;
	font-weight : bold;
}

.ntime_day {
	margin : -8px 0px 0px 0px;
	color : #EBCB8B;
	font-size : 18px;
	font-weight : normal;
}

/*--> Workspaces <--*/
.ws1, .ws2, .ws3, .ws4, .ws5, .ws6, .ws7, .ws8, .ws9, .ws10 {
	font-size : 24px;
}
.ws1 {
	color : #52E080;
}

.ws2 {
	color : #D70040;
}

.ws3 {
	color : #117dca;
}

.ws4 {
	color : #32a7d9;
}

.ws5 {
	color : #23cf5f;
}

.ws6 {
	color : #80461b;
}

.ws7 {
	color : #f4c430;
}

.ws8 {
	color : #DA70D6;
}

.ws9 {
	color : #800020;
}

.ws10 {
	color : #F5F5F5;
}

.ws_holder {
	margin : 24px 0 0 0;
}

/** EOF *************************************************/
